In [17]:
#Load dependencies: 
import pandas as pd
from pathlib import Path

#read both csv files:
filepath_sch=Path('Starter_Code/PyCitySchools/Resources/schools_complete.csv')
filepath_stu=Path('Starter_Code/PyCitySchools/Resources/students_complete.csv')

#assign both csv files to dataframe:
df_sch=pd.read_csv(filepath_sch)
df_stu=pd.read_csv(filepath_stu)

school_data=pd.merge(df_sch, df_stu, how="left", on=["school_name", "school_name"])
school_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [23]:
# Calculate the total number of unique schools
school_count = len(school_data["school_name"].unique())
school_count

15

In [25]:
# Calculate the total number of students
student_count = len(school_data["student_name"].sum())
student_count

520071

In [29]:
# Calculate the total budget
total_budget = school_data["budget"].unique().sum()
total_budget

24649428

In [30]:
# Calculate the average (mean) math score
average_math_score = school_data["math_score"].mean()
average_math_score

78.98537145774827

In [31]:
# Calculate the average (mean) reading score
average_reading_score = school_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [38]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data[(school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) *100
passing_math_percentage

5.647305848624515

In [40]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data[(school_data["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage=passing_reading_count/ float(student_count) *100                                    
passing_reading_percentage

6.462579147847121

In [41]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

4.908560561923276

In [42]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = 

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

SyntaxError: invalid syntax (1269324205.py, line 2)